# Python virtual environment
venv/

# Raw Data - DO NOT UPLOAD
GSE122960_data/

# Mac system files
.DS_Store

# Python cache
__pycache__/

# large .h5 file
analysis_results_clean/processed_adata_cache.h5ad

